:80 {
    route {


        # API backend
        handle /api/* {
            reverse_proxy knfapp-backend:8000 {
                header_up X-Forwarded-For {http.request.header.X-Forwarded-For}
            }
        }


        # Swagger UI
        handle /swagger* {
            reverse_proxy knfapp-swagger:8080
        }


        # DbGate
        redir /dbgate /dbgate/
        handle /dbgate/* {
            reverse_proxy knfapp-dbgate:3000
        }


        # Default: serve static or return 404
        handle {
            respond "KNFAPP API Server" 200
        }


    }
}
